imbalanced-learn==0.10.0
matplotlib==3.6.2
numpy==1.23.5
pandas==1.4.2
pytorch-lightning==1.8.4.post0
scikit-learn==1.2.0
scipy==1.9.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu117
torchvision==0.14.0+cu117
wfdb==4.1.0

-e git+https://github.com/open-mmlab/mmcv.git@7a13f995784087ace7cf17ae5f965b6190fe0aea#egg=mmcv